#+options: ':t
#+options: *:t
#+options: -:t
#+options: :t
#+options: <:nil
#+options: \n:nil
#+options: ^:t
#+options: arch:nil
#+options: author:t
#+options: broken-links:mark
#+options: c:nil
#+options: creator:nil
#+options: d:nil
#+options: date:t
#+options: e:t
{%- if document_author_email %}
#+options: email:t
{%- else %}
#+options: email:nil
{%- endif %}
#+options: f:t
#+options: H:4
#+options: inline:nil
#+options: num:3
#+options: p:nil
#+options: pri:nil
#+options: prop:nil
#+options: stat:nil
#+options: tags:nil
#+options: tasks:nil
#+options: tex:t
#+options: timestamp:t
#+options: title:t
#+options: toc:nil
#+options: todo:nil
#+options: |:t
#+latex_compiler: lualatex
#+latex_class: article
#+latex_class_options: [a4paper]
#+latex_header: \setlength{\emergencystretch}{1em}
#+latex_header: \clubpenalty=9996
#+latex_header: \widowpenalty=9999
#+latex_header: \brokenpenalty=4991
#+latex_header: \predisplaypenalty=10000
#+latex_header: \postdisplaypenalty=1549
#+latex_header: \displaywidowpenalty=1602
#+latex_header: \interfootnotelinepenalty=10000
#+latex_header: \usepackage[AUTO]{babel}
#+latex_header: \usepackage{hologo}
#+latex_header: \usepackage{realscripts}
#+latex_header: \usepackage[activate={true,nocompatibility}, final, factor=1100, stretch=15, shrink=15, tracking=true, letterspace=40, babel=true]{microtype}
#+latex_header: \usepackage[all,nodollardollar]{onlyamsmath}
#+latex_header: \usepackage[math-style=ISO, bold-style=ISO, sans-style=italic, nabla=upright, partial=upright]{unicode-math}
#+latex_header: \usepackage{newunicodechar}
#+latex_header: \newunicodechar{√}{\sqrt}
#+latex_header: \newunicodechar{–}{\mbox{–}\allowbreak{}\hspace{0pt}}
#+latex_header: \usepackage[cache=false]{minted}
#+latex_header: \setmainfont{Libertinus Serif}[Contextuals=Alternate,]
#+latex_header: \setsansfont{LibertinusSans}
#+latex_header: \setmathfont{LibertinusMath}
#+latex_header: \setmathfont{XITSMath}[range={frak,"1D504-"1D537,bffrak,"1D56C-"1D59F}]
#+latex_header: \setmathfont{XITSMath}[range={cal,bfcal},StylisticSet=1]
#+latex_header_extra: \usepackage[nosingleletter, hyphenation, lastparline, homeoarchy, parindent]{impnattypo}
#+latex_header_extra: \pdfvariable suppressoptionalinfo 512\relax
#+latex_header_extra: \hypersetup{hidelinks, bookmarksnumbered, linkcolor={red!50!black}, citecolor={blue!50!black}, urlcolor={blue!80!black}}
{%- if document_title %}
#+title: {{ document_title }}
{%- if document_subtitle %}
#+subtitle: {{ document_subtitle }}
{%- endif %}
{%- endif %}
{%- if document_author %}
#+author: {{ document_author }}
{%- endif %}
{%- if document_author_email %}
#+email: {{ document_author_email }}
{%- endif %}
{%- if document_description %}
#+description: {{ document_description }}
{%- endif %}
#+language: en-gb

* Pangrams
A pangram is a phrase containing every letter of a given alphabet at
least once. Here are some examples:
- English :: Pack my box with five dozen liqour jugs.
- French :: Portez ce vieux whisky au juge blond qui a fumé.
- German :: Falsches Üben von Xylophonmusik quält jeden größeren Zwerg.
- Greek :: Ζαφείρι δέξου πάγκαλο, βαθῶν ψυχῆς τὸ σῆμα.
- Irish :: Ċuaiġ bé ṁórṡáċ le dlúṫspád fíorḟinn trí hata mo ḋea-ṗorcáin
  ḃig.
- Icelandic :: Kæmi ný öxi hér ykist þjófum nú bæði víl og ádrepa.
- Vietnamese :: Ắt chị đến xa vẻ vã giản dị nắng lùng lại, quả áo dài
  mưa rực rỡ trên sân vườn.
- Macedonian :: Долг Џош, сторив женење, црн ѕид! Фрчат хмељ, ќумбе,
  ѓупки, зајак.
- Polish :: Dość gróźb fuzją, klnę, pych i małżeństw!
- Hebrew :: .כך התרסק נפץ על גוזל קטן, שדחף את צבי למים

* Equations
\[f(x) = \frac{1}{σ√{2\symup{π}}}\exp\left(-\frac{1}{2}\frac{(x-μ)²}{σ²}\right)\]
\[Z^{Γ}_{\symcal{F}}(γ)=∑_{\substack{n≥0 \\ λ⊢n}}\frac{\left|\operatorname{fix}\symcal{F}\,\left[σ(λ)⋅γ\right]\right|}{z_λ}p₁^{λ₁}p₂^{λ₂}…pₙ^{λₙ}\]
\[\begin{aligned}
  ∮_C \frac{1}{z}\,\symup{d}z & = ∫_0^{2\symup{π}} \frac{1}{\symup{e}^{\symup{i}t}}\symup{i}\symup{e}^{\symup{i}t}\,\symup{d}t \\
                              & = \symup{i}∫_0^{2\symup{π}} 1\,\symup{d}t                                                      \\
                              & = \symup{i}t\,\Big|_0^{2\symup{π}}                                                             \\
                              & = (2\symup{π} - 0)\symup{i}                                                                    \\
                              & = 2\symup{π}\symup{i}
\end{aligned}\]

* A table

#+ATTR_LATEX: :booktabs :align lcclc
|---------------+-----+-------------+-------------+-----------------|
| Name          | Age | Height (cm) | Superpower  | Favorite Number |
|---------------+-----+-------------+-------------+-----------------|
| Captain Fuzzy |  32 |         165 | Fuzziness   | \(\symup{π}\)   |
| Rainbow Dash  |  27 |         170 | Super Speed | \(√{2}\)        |
| The Pie Man   |  35 |         160 | Pie-Making  | \(\symup{φ}\)   |
| Ice Queen     |  29 |         175 | Ice Powers  | \(\symup{e}\)   |
| Fireball      |  31 |         170 | Fire Powers | \(0.5\)         |
|---------------+-----+-------------+-------------+-----------------|
